@{
    ViewData["Title"] = "Georgia Tech Library";
}


<div class="flex-wrapper">
    
    <div class="flex-container">

        <div class="buttons">
            <button class="btn btn-primary hi-icon-effect-8">Katalog <i class="hi-icon hi-icon-list"></i></button>
            <button class="btn btn-primary hi-icon-effect-8">Arrangementer<i class="hi-icon hi-icon-clock"></i></button>
            <button class="btn btn-primary hi-icon-effect-8">Nyheder<i class="hi-icon hi-icon-archive"></i></button>
            <button class="btn btn-primary hi-icon-effect-8">Inspiration<i class="hi-icon hi-icon-earth"></i></button>
        </div>


        <img src="./images/reading_list.svg" class="img" alt="" />
    </div>
</div>