@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1 style="color: red">ACCESS DENIED!</h1>

<a asp-controller="Account" asp-action="Login">Login</a>

@*<a asp-controller="Home" asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]>Register</a>*@