@model GTL.Application.UseCases.Loans.Commands.ReturnLoan.ReturnLoanCommand
@{
    ViewData["Title"] = "ReturnLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Return Loan</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="ReturnLoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CopyBarcode" class="control-label"></label>
                <input asp-for="CopyBarcode" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Return" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}