@using GTL.Domain.Enums
@model GTL.Application.UseCases.Members.Commands.CreateMember.CreateMemberCommand

@{
    ViewData["Title"] = "Create";
}

@{
    var status = TempData["Status"] != null ? TempData["Status"].ToString() : "";

    if (!string.IsNullOrEmpty(status))
     {
         @Html.Partial("_StatusMessage", status);
         

     }
}


<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Ssn" class="control-label"></label>
                <input asp-for="Ssn" type="text" class="form-control" />
                <span asp-validation-for="Ssn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="address-area">

                <div class="form-group">
                    <label asp-for="StreetName" class="control-label"></label>
                    <input asp-for="StreetName" type="text" class="form-control" />
                    <span asp-validation-for="StreetName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HouseNumber" class="control-label"></label>
                    <input asp-for="HouseNumber" type="text" class="form-control" />
                    <span asp-validation-for="HouseNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" type="text" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" type="text" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <select asp-for="AddressType" asp-items="Html.GetEnumSelectList<AddressType>()"></select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}