USE [master]
GO
/****** Object:  Database [GTL_Auth_Demo]    Script Date: 17-04-2019 21:06:33 ******/
CREATE DATABASE [GTL_Auth_Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GTL_Auth_Demo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GTL_Auth_Demo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GTL_Auth_Demo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GTL_Auth_Demo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GTL_Auth_Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GTL_Auth_Demo]
GO
USE [GTL_Auth_Demo]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17-04-2019 21:06:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[NormalizedName] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[City] [nvarchar](256) NULL,
	[Zipcode] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[LastChanged] [datetime] NULL,
	[PasswordSalt] [nvarchar](max) NOT NULL,
	[PermissionLevel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_NormalizedEmail]    Script Date: 17-04-2019 21:06:33 ******/
CREATE NONCLUSTERED INDEX [IX_User_NormalizedEmail] ON [dbo].[User]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_NormalizedName]    Script Date: 17-04-2019 21:06:33 ******/
CREATE NONCLUSTERED INDEX [IX_User_NormalizedName] ON [dbo].[User]
(
	[NormalizedName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
