CREATE DATABASE GTL_DEMO;
GO

USE GTL_DEMO
CREATE TABLE USERS(
   id INT NOT NULL IDENTITY(1,1),
   name VARCHAR(MAX) NOT NULL,
   city  VARCHAR(MAX) NOT NULL,
   zipcode VARCHAR(MAX) NOT NULL,
   PRIMARY KEY (Id)
);

CREATE TABLE BOOKS(
   id INT NOT NULL,
   title VARCHAR(MAX) NOT NULL,
   description VARCHAR(MAX) NOT NULL,
   author VARCHAR(MAX) NOT NULL,
   user_id INT FOREIGN KEY REFERENCES USERS(id)
   PRIMARY KEY (Id),
);
